{% extends 'base.html.twig' %}

{% block title %}Air Atlantique{% endblock %}

{% block body %}
<table>
      <thead>
        <tr>
            <th>Voyage</th>
            <th>Date de l'achat</th>
            <th>Prix</th>
        </tr>
      </thead>
      <tbody>
        {% for user in billet %}
        <tr>
          <td>{{ user.idPrix.idVoyage.nom}}</td>
          <td>{{ user.dateAchat.date|date("d/m/Y H:i")}}</td>
          <td>{{ user.idPrix.prix }}€</td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
{% endblock %}
